In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics
import math

In [3]:
df=pd.read_excel("Dataset_w6.xlsx")

In [6]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 7 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   country                                     196 non-null    object
 1   Region                                      196 non-null    object
 2   Surface area (km2)                          196 non-null    float64
 3   Population in thousands (2017)              196 non-null    float64
 4   GDP per capita (current US$)                196 non-null    float64
 5   Agricultural production index               196 non-null    float64
 6   International trade: Imports (million US$)  196 non-null    float64
dtypes: float64(5), object(2)
memory usage: 10.8+ KB

,country,Region,Surface area (km2),Population in thousands (2017),GDP per capita (current US$),Agricultural production index,International trade: Imports (million US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0

In [9]:
column_name=df.columns
for col in column_name:
    new_name=col.replace(" ","_")
    df.rename(columns={col:new_name},inplace=True)
df.head()

,country,Region,Surface_area_(km2),Population_in_thousands_(2017),GDP_per_capita_(current_US$),Agricultural_production_index_,International_trade:_Imports_(million_US$)
0,Afghanistan,SouthernAsia,652864.0,35530.0,623.2,125.0,3568.0
1,Albania,SouthernEurope,28748.0,2930.0,3984.2,134.0,4669.0
2,Algeria,NorthernAfrica,2381741.0,41318.0,4154.1,160.0,47091.0
3,Angola,MiddleAfrica,1246700.0,29784.0,4714.1,175.0,8790.0
4,Antigua and Barbuda,Caribbean,442.0,102.0,14764.5,88.0,491.0

# 1. Find out how many countries are there in the dataset.

In [18]:
print(str(df["country"].count()),"countries are there in the dataset")

196 countries are there in the dataset

# 2. Find out how many countries with respect to the region are available in the dataset

In [76]:
df3=df["Region"].value_counts()
df3=pd.DataFrame(df3)
df3.reset_index (inplace=True) 
df3.columns=["Region","No. of Countries"]
df3

               Region  No. of Countries
0         WesternAsia                18
1       EasternAfrica                17
2           Caribbean                16
3       WesternAfrica                15
4        SouthAmerica                12
5      SouthernEurope                12
6   South-easternAsia                11
7       EasternEurope                10
8      NorthernEurope                10
9        SouthernAsia                 9
10       MiddleAfrica                 9
11     CentralAmerica                 8
12      WesternEurope                 7
13        EasternAsia                 7
14     SouthernAfrica                 5
15          Polynesia                 5
16     NorthernAfrica                 5
17          Melanesia                 5
18        CentralAsia                 5
19    NorthernAmerica                 4
20         Micronesia                 4
21            Oceania                 2

# 3. On average which region has the highest
    a. GDP per capita (current US$)
    b. International trade: Imports (million US$)

In [100]:
df3=df
x="GDP_per_capita_(current_US$)"
y="International_trade:_Imports_(million_US$)"
pt_1=df3.pivot_table(index="Region",values=[x,y],aggfunc=statistics.mean)
pt_1.sort_values(by=[x,y],ascending=False)

,GDP_per_capita_(current_US$),International_trade:_Imports_(million_US$)
Region,,
NorthernAmerica,57659.000000,663552.250000
WesternEurope,55387.128571,407498.428571
Oceania,44823.250000,112914.500000
NorthernEurope,42098.220000,113407.200000
EasternAsia,27967.614286,451995.000000
WesternAsia,17013.938889,46025.555556
Caribbean,15135.562500,3057.312500
SouthernEurope,14462.741667,76666.666667
South-easternAsia,10299.027273,98324.636364
EasternEurope,9292.490000,85243.900000
Melanesia,9261.960000,2896.400000
Polynesia,8686.520000,432.000000
SouthAmerica,8499.775000,32885.666667
CentralAmerica,6348.137500,57031.500000
Micronesia,5008.300000,99.000000
CentralAsia,4329.880000,12063.400000
SouthernAfrica,4191.900000,18005.600000
NorthernAfrica,3934.960000,35034.400000
MiddleAfrica,3928.833333,4381.222222
SouthernAsia,2968.400000,58199.333333
EasternAfrica,2088.852941,4726.176471
WesternAfrica,1013.140000,4898.333333

Remark: On average NorthernAmerica region has the highest GDP per capita (current US$)& International trade: Imports (million US$)

# 4. Find out which region has more consistent with respect to GDP per capita 
(current US$)

In [107]:
df4=df
z="GDP_per_capita_(current_US$)"
pt_2=df4.pivot_table(index="Region",values=z,aggfunc=statistics.variance)
pt_2.sort_values(by=z,ascending=True)

                   GDP_per_capita_(current_US$)
Region
WesternAfrica                      6.643805e+05
NorthernAfrica                     9.500529e+05
SouthernAfrica                     4.741729e+06
SouthernAsia                       8.155069e+06
EasternAfrica                      1.380964e+07
CentralAsia                        1.724089e+07
CentralAmerica                     1.747609e+07
SouthAmerica                       1.826457e+07
Micronesia                         2.323886e+07
MiddleAfrica                       2.782400e+07
EasternEurope                      2.932752e+07
Polynesia                          4.838942e+07
Oceania                            8.525438e+07
SouthernEurope                     9.104410e+07
Melanesia                          1.919844e+08
Caribbean                          2.125581e+08
South-easternAsia                  2.660752e+08
WesternAsia                        3.538970e+08
NorthernEurope                     4.272915e+08
WesternEurope                      6.135761e+08
NorthernAmerica                    6.630429e+08
EasternAsia                        7.554319e+08

Remark: WesternAfrica has more consistent with respect to GDP per capita(Less Variance)